@import '../mixins';
@import '../abstracts/variables';

.centered-container {
  @include layout-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .layout-flex {
    display: flex;
    width: 100%;

    .left-zone {
      flex: 0 1 30%;
    }

    .center-zone {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
      width: 50%;
      min-width: 435px;
    }

    .right-zone {
      display: flex;
      flex: 0 1 20%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .bottom-zone {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .bottom-zone>* {
      flex: 1;
      width: 50%;
    }
  }
}

@mixin layout-container {
  max-width: $main-width;
  margin: 0 auto;
  padding: 20px;
}