.border-frame {
    position: relative;
    width: fit-content;
    margin: 20px;
    padding: 20px;
    background-color: black;
    background-image: url('../../assets/blackboard_texture.webp'); // Chemin vers votre texture d'ardoise
    background-size: auto; // Couvre l'entièreté du conteneur, peut-être ajustez selon besoin
    background-repeat: repeat; // Pas nécessaire si l'image couvre tout, mais utile si elle est plus petite
    border-radius: 15px;
    // background-position: bottom;
    // background-position-x: 2px;
    
    .border-top, .border-bottom, .border-left, .border-right {
      position: absolute;
      background-repeat: no-repeat;
    }
  
    .border-top {
      top: 0;
      left: 0;
      right: 0;
      height: 20px; // Adaptez à la hauteur de votre image
      background-image: url('../../assets/handline_top.png');
    }
  
    .border-bottom {
      bottom: 10px;
      left: 20px;
      right: 0;
      height: 8px; // Adaptez à la hauteur de votre image
      background-image: url('../../assets/handline_bottom.png');
      background-size: auto 70%
    }
  
    .border-left {
        margin-top: 40px;
        top: 20px;
        bottom: 15px; // La hauteur de votre image bottom.png
        left: 20px;
        width: 5px; // La largeur de votre image
        background-image: url('../../assets/handline_left.png');
        background-repeat: repeat-y;
        background-size: contain;
    
        &::before {
          content: '';
          position: absolute;
          top: -20px; // Décalez le pseudo-élément vers le haut pour qu'il se positionne correctement
          left: 0;
          width: 100%; // Permet au pseudo-élément de remplir la largeur de .border-left
          height: 20px; // La hauteur de votre image handline_left_top.png
          background-image: url('../../assets/handline_left_top.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
  
    .border-right {
      top: 20px; // Adaptez à la hauteur de la bordure en haut
      bottom: 5px; // Adaptez à la hauteur de la bordure en bas
      right: 0;
      width: 5px; // Adaptez à la largeur de votre image
      background-image: url('../../assets/handline_right.png');
      background-repeat: repeat-y;
    }
  
    .content {
      position: relative; // Assurez-vous que le contenu est au-dessus des bordures
      // Styles pour le contenu ici...
    }
  }
  