@import '../mixins';
@import '../abstracts/variables';

.border-frame {
  position: relative;
  width: fit-content;
  margin: 20px;
  padding: 5px;
  // Remplacer background-color par l'utilisation du mixin pour le thème
  // background-color: black;
background-image: url('../../assets/blackboard_texture.webp'); 
 background-size: auto; 
 background-repeat: repeat;
 border-radius: 7px;
  
  // Application du mixin pour gérer les couleurs de fond et de texte selon le thème
  @include theme-styles;
    
    // .border-top, .border-bottom, .border-left, .border-right {
    //   position: absolute;
    //   background-repeat: no-repeat;

    // }
  
    // .border-top {
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   height: 20px; // Adaptez à la hauteur de votre image
    //   background-image: url('../../assets/handline_top.png');
    // }
  
    // .border-bottom {
    //   bottom: 10px;
    //   left: 0;
    //   right: 0;
    //   height: 8px;
    //   background-image: url('../../assets/handline_bottom.png');
    //   background-size: auto 70%
    // }
  
    // .border-left {
      
    //     margin-top: 40px;
    //     top: 20px;
    //     bottom: 15px;
    //     left: 0;
    //     width: 5px;
    //     background-image: url('../../assets/handline_left.png');
    //     background-repeat: repeat-y;
    //     background-size: contain;
    
    //     &::before {
    //       content: '';
    //       position: absolute;
    //       top: -20px; 
    //       left: 0;
    //       width: 100%; 
    //       height: 20px; 
    //       background-image: url('../../assets/handline_left_top.png');
    //       background-repeat: no-repeat;
    //       background-size: cover;
    //     }
    //   }
  
    // .border-right {
    //   top: 20px;
    //   bottom: 5px; 
    //   right: 0;
    //   width: 5px; 
    //   background-image: url('../../assets/handline_right.png');
    //   background-repeat: repeat-y;
    // }
  
    .content {
      position: relative; 
    }
  }
  