.box {

  padding: 10px 13px 13px 13px;
  width: 100%;
  background-image: url('../../assets/blackboard_texture.webp');
  background-size: auto;
  background-repeat: repeat;
  border-radius: 7px;
  margin: 0 auto;

}

.box-image-background {
  border-radius: 5px;
  display: block;
  margin-top: 17px;
  height: 180px;
  background-image:
    radial-gradient(circle, rgba(0, 0, 0, 0) 60%, black 100%),
    url('../../assets/panini.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box-image-background.hidden {
  display: none;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.box-title {
  font-family: 'Chalkboy', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1px;
}

.box-subtitle {
  font-family: 'Mathlete-Skinny', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.box-price {
  font-family: 'BlackBoard', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

.box-line {
  flex-grow: 1;
  margin: 0 10px;
  height: 6px;

  background-image: url('../../assets/pointillets_hand.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 100%;
}

.box-title,
.box-price {
  z-index: 1;
}

.box-content {
  font-family: 'Schoolbell', cursive;
  font-size: 22px;
}