@import '../abstracts/variables';

@font-face {
  font-family: 'Chalkboy';
  src: url('../../fonts/ChalkboyRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Schoolbell';
  src: url('../../fonts/Schoolbell-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mathlete-Skinny';
  src: url('../../fonts/Mathlete-Skinny.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BlackBoard';
  src: url('../../fonts/BlackBoard.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.box {
  color: $color-off-white;
  font-family: 'Chalkboy', cursive;
  padding: 20px;
  margin-bottom: 40px;
  max-width: 512px;
}


.box-header {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  position: relative;
}

.box-title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  letter-spacing: 2px;
}

.box-subtitle {
  font-family: 'Mathlete-Skinny', sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
}

.box-price {
  font-family: 'BlackBoard', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}

.box-line {
  flex-grow: 1;
  margin: 0 10px; // Ajustez l'espacement si nécessaire
  height: 6px; // Ajustez selon l'épaisseur de votre trait image

  background-image: url('../../assets/pointillets_hand.png');
  background-repeat: repeat-x; // Répétez l'image horizontalement
  background-position: bottom;
  background-size: auto 100%; // Maintient la hauteur à 100% de l'élément sans modifier la largeur de l'image
}
.box-title, .box-price {
  z-index: 1; // S'assurer que le texte reste au-dessus de la ligne
}

.box-content {
  font-family: 'Schoolbell', cursive;
  font-size: 22px;
}