// src/styles/components/_ToggleButton.scss
@import '../abstracts/variables';
@import '../mixins';

.toggle-button-label {
  width: 80px;
  height: 34px;
  position: relative;
  display: block;
  // border-radius: 34px;
  // box-shadow: inset 0 4px 7px rgba(58, 59, 67, 0.6), inset 0 -4px 7px rgba(180, 180, 180, 0.4);
  cursor: pointer;
}

.toggle-button-label:after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 0;
}

.toggle-button-input:checked + .toggle-button-label:after {
  transform: translateX(46px);
}

.sun-icon, .moon-icon {
  position: absolute;
  z-index: 10;

}

.sun-icon {
  left: 0;
  width: 34px;
  height: 34px;
  top: 0; 
}

.moon-icon {
  width: 25px;
  height: 25px;
  right: 7px; 
  top: 5px; 
}

.toggle-button-input {
  width: 0;
  height: 0;
  visibility: hidden;
}
