.input-search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 177px;
  height: 28px;

  .custom-input {
    padding-right: 30px;

  }
}

.loupe-icon {
  position: absolute;
  right: 10px;
  height: 100%;
  pointer-events: none;
}