@font-face {
    font-family: 'Chalkboy';
    src: url('../../fonts/ChalkboyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Schoolbell';
    src: url('../../fonts/Schoolbell-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mathlete-Skinny';
    src: url('../../fonts/Mathlete-Skinny.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BlackBoard';
    src: url('../../fonts/BlackBoard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'KGSecondChancesSketch';
    src: url('../../fonts/KGSecondChancesSketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
