// Couleurs de base dérivées de l'image du menu
$color-nearly-black: #272526;
$color-off-white: #f0e9da;
$color-deep-black: #040303;
$color-light-brown: #b29675;
$color-medium-brown: #705b4b;
$color-soft-beige: #e3d3b6;

// Couleurs pour le thème sombre
$color-primary-dark: $color-light-brown; // Marron clair pour les éléments principaux et actifs
$color-secondary-dark: $color-medium-brown; // Marron moyen
$color-success-dark: #28a745; // Vert pour les états de succès
$color-info-dark: #17a2b8; // Cyan pour l'information
$color-warning-dark: #ffc107; // Jaune pour les avertissements
$color-danger-dark: #dc3545; // Rouge original pour les erreurs
$color-light-dark: $color-off-white; // Beige très clair pour le texte sur fond sombre
$color-dark-dark: $color-deep-black; // Noir profond pour les arrière-plans

// Couleurs pour le thème clair
$color-primary-light: $color-medium-brown; // Marron moyen pour les éléments principaux
$color-secondary-light: $color-soft-beige; // Beige doux pour les éléments secondaires
$color-success-light: #28a745; // Vert original pour le succès
$color-info-light: #17a2b8; // Cyan original pour l'information
$color-warning-light: #ffc107; // Jaune original pour les avertissements
$color-danger-light: #dc3545; // Rouge original pour les dangers
$color-light-light: $color-light-brown; // Marron clair pour les arrière-plans clairs
$color-dark-light: $color-nearly-black; // Presque noir pour le texte

// Couleurs partagées entre les thèmes
$color-dark-background: $color-nearly-black; // Arrière-plan pour le thème sombre
$color-dark-text: $color-off-white; // Texte pour le thème sombre
$color-header-background-dark: $color-nearly-black; // Arrière-plan de l'en-tête pour le thème sombre
$color-link-dark: $color-light-brown; // Couleur des liens pour le thème sombre

$color-light-background: $color-soft-beige; // Arrière-plan pour le thème clair
$color-light-text: $color-nearly-black; // Texte pour le thème clair
$color-header-background-light: $color-soft-beige; // Arrière-plan de l'en-tête pour le thème clair
$color-link-light: $color-medium-brown; // Couleur des liens pour le thème clair

// Affectez les variables spécifiques au thème ici en fonction du thème choisi.
// Par exemple, si vous utilisez un thème sombre, vous assignerez les variables -dark.
$color-primary: $color-primary-dark;
$color-secondary: $color-secondary-dark;
$color-success: $color-success-dark;
$color-info: $color-info-dark;
$color-warning: $color-warning-dark;
$color-danger: $color-danger-dark;
$color-light: $color-light-dark;
$color-dark: $color-dark-dark;
$color-dark-background: $color-dark-background;
$color-dark-text: $color-dark-text;
$color-light-background: $color-light-background;
$color-light-text: $color-light-text;
$color-header-background: $color-header-background-dark;
$color-link: $color-link-dark;

// Pour passer au thème clair, remplacez par les variables -light.
$main-width: 909px;

// Typographie
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-stack-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
