// Couleurs de thème
$color-dark-background: #333;
$color-dark-text: #d6d6d6;
$color-light-background: #d6d6d6;
$color-light-text: #000;
$color-header-background: #282c34;
$color-link: #61dafb;

// Typographie
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-stack-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
