@import './abstracts/variables';

@mixin theme-styles {
  body.light {
    background-color: $color-light-background;
    color: $color-light-text;
    
    &:hover {
      background-color: darken($color-light-background, 2%);
    }

    .centered-container {
      background-color: $color-container-background-light;
      color: $color-dark-text;
    }

    .border-frame {
      background-color: $color-light-background;
      color: $color-dark-text;
    }

    .card {
      background-color: $color-light-background;
      color: $color-dark-text;
    }
    
    .toggle-button-label {
      background: $color-light-background;
    }

    .toggle-button-label:after {
      background: $color-light-background;
    }
    .sun-icon {
      fill: $color-dark-text;
      background-color: transparent;
    }

    .moon-icon {
      fill: $color-dark-text;
      background-color: transparent;
    }
  }

  body.dark {
    background-color: $color-dark-background;
    color: $color-dark-text;
    
    &:hover {
      background-color: darken($color-dark-background, 2%);
    }

    .centered-container {
      background-color: $color-container-background-dark;
      color: $color-light-text;
    }
    .border-frame {
      background-color: $color-dark-background;
      color: $color-light-text;
    }
    .card {
      background-color: $color-dark-background;
      color: $color-light-text;
    }
    .toggle-button-label {
      background: $color-dark-background;
    }

    .toggle-button-label:after {
      background: $color-container-background-dark;
    }

    .sun-icon {
      fill: #7e7e7eb6;
      background-color: transparent;
    }

    .moon-icon {
      fill: #FFF;
      background-color: transparent;
    }
  }

  body, .centered-container {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@mixin layout-container {
  max-width: $main-width;
  margin: 0 auto;
}
